In [3]:
import matplotlib.pyplot as plt
from dotenv import load_dotenv
from scipy.optimize import minimize
import pandas as pd
import numpy as np
import seaborn as sns
import os
import json
import math
import jsonlines
import pyarrow.parquet as pq
from utils import load_json_file, load_jsonl_file, euclidean_distance, check_target_area, get_receive_frame, explode_data
import plotly.graph_objects as go
import soccerfield

import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:
events_path = 'data/wyscout_events.parquet'
events_df = pd.read_parquet(events_path)

In [22]:
events_df =events_df[~events_df['type_primary'].isin(['duel', 'touch'])]

In [5]:
pass_files = os.listdir('data/pass_data')
len(pass_files)

76

In [31]:
pass_file = pass_files[1]
pass_df = pd.read_csv(f'data/pass_data/{pass_file}')

In [36]:
match_id = pass_df.loc[0, 'sk_match_id']
match_id

1150610

In [33]:
match_event_df = events_df[events_df['sk_match_id'] == match_id].reset_index(drop = True)

In [40]:
cols = ['frame', 'minute', 'player_name', 'pass_recipient_name', 'type_primary', 'team_name', 'possession_team_name', 'possession_team_name_src', 'wy_team_id', 'possession_team_id_src']

In [41]:
pass_df = pass_df[pass_df['team_name'] == pass_df['possession_team_name_src']]

KeyError: 'team_name'

In [42]:
for i in pass_df.frame.to_list():
    pass_idx = match_event_df.index[match_event_df['frame'] == i].tolist()[0]
    segment_df = match_event_df.iloc[pass_idx:pass_idx+6]
    display(segment_df[cols])

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
4,20512,34,V. Asseyi,K. Smith,pass,West Ham United,West Ham United,In Contest,1952,-1
5,20557,34,K. Smith,<NA>,pass,West Ham United,West Ham United,In Contest,1952,-1
6,20585,34,<NA>,<NA>,game_interruption,Brighton & Hove Albion,West Ham United,In Contest,1944,-1
7,20731,34,G. Bergsvand,S. Cooke,throw_in,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
8,20753,34,S. Cooke,<NA>,interception,West Ham United,West Ham United,In Contest,1952,-1
9,20766,34,<NA>,<NA>,game_interruption,Brighton & Hove Albion,West Ham United,In Contest,1944,-1

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
37,22974,38,P. Pattinson,Vicky Losada,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
38,22994,38,Vicky Losada,Lee Geum-Min,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
39,23030,38,Lee Geum-Min,<NA>,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
40,23077,38,<NA>,<NA>,game_interruption,Brighton & Hove Albion,Brighton & Hove Albion,In Contest,1944,-1
41,23347,38,M. Arnold,S. Cooke,goal_kick,West Ham United,West Ham United,West Ham United,1952,1952
42,23386,38,S. Cooke,R. Ueki,pass,West Ham United,West Ham United,West Ham United,1952,1952

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
38,22994,38,Vicky Losada,Lee Geum-Min,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
39,23030,38,Lee Geum-Min,<NA>,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
40,23077,38,<NA>,<NA>,game_interruption,Brighton & Hove Albion,Brighton & Hove Albion,In Contest,1944,-1
41,23347,38,M. Arnold,S. Cooke,goal_kick,West Ham United,West Ham United,West Ham United,1952,1952
42,23386,38,S. Cooke,R. Ueki,pass,West Ham United,West Ham United,West Ham United,1952,1952
43,23442,38,R. Ueki,L. Evans,pass,West Ham United,West Ham United,West Ham United,1952,1952

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
47,23562,39,H. Hayashi,A. Denton,pass,West Ham United,West Ham United,West Ham United,1952,1952
48,23580,39,A. Denton,R. Ueki,pass,West Ham United,West Ham United,West Ham United,1952,1952
49,23624,39,R. Ueki,V. Asseyi,pass,West Ham United,West Ham United,West Ham United,1952,1952
50,23648,39,P. Pattinson,<NA>,clearance,Brighton & Hove Albion,West Ham United,In Contest,1944,-1
51,23665,39,H. Hayashi,K. Smith,pass,West Ham United,West Ham United,In Contest,1952,-1
52,23686,39,K. Smith,S. Baggaley,pass,West Ham United,West Ham United,In Contest,1952,-1

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
67,24233,40,Vicky Losada,P. Bremer,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
68,24325,40,<NA>,<NA>,game_interruption,Brighton & Hove Albion,<NA>,In Contest,1944,-1
69,24397,40,K. Robinson,P. Bremer,throw_in,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
70,24420,40,P. Bremer,J. Olme,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
71,24431,40,J. Olme,Vicky Losada,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
72,24452,40,Vicky Losada,Lee Geum-Min,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
70,24420,40,P. Bremer,J. Olme,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
71,24431,40,J. Olme,Vicky Losada,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
72,24452,40,Vicky Losada,Lee Geum-Min,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
73,24480,40,Lee Geum-Min,J. Olme,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
74,24507,40,J. Olme,K. Robinson,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
75,24532,40,K. Robinson,E. Terland,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
118,26933,44,Lee Geum-Min,P. Pattinson,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
119,26955,44,P. Pattinson,J. Olme,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
120,26963,44,J. Olme,Lee Geum-Min,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
121,26979,44,Lee Geum-Min,E. Terland,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
122,27004,44,E. Terland,P. Bremer,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
123,27029,44,P. Bremer,<NA>,shot,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
143,28031,46,V. Asseyi,L. Evans,pass,West Ham United,West Ham United,West Ham United,1952,1952
144,28052,46,L. Evans,A. Stringer,pass,West Ham United,West Ham United,West Ham United,1952,1952
145,28081,46,A. Stringer,K. Smith,pass,West Ham United,West Ham United,West Ham United,1952,1952
146,28105,46,K. Smith,H. Hayashi,pass,West Ham United,West Ham United,West Ham United,1952,1952
147,28128,46,H. Hayashi,K. Smith,pass,West Ham United,West Ham United,West Ham United,1952,1952
148,28150,46,K. Smith,H. Hayashi,pass,West Ham United,West Ham United,West Ham United,1952,1952

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
147,28128,46,H. Hayashi,K. Smith,pass,West Ham United,West Ham United,West Ham United,1952,1952
148,28150,46,K. Smith,H. Hayashi,pass,West Ham United,West Ham United,West Ham United,1952,1952
149,28173,46,H. Hayashi,Vicky Losada,pass,West Ham United,West Ham United,In Contest,1952,-1
150,28222,46,Vicky Losada,R. Shimizu,pass,Brighton & Hove Albion,Brighton & Hove Albion,In Contest,1944,-1
151,28370,47,K. Robinson,E. Kullberg,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
152,28399,47,E. Kullberg,E. Terland,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
161,29018,45,E. Terland,K. Robinson,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
162,29062,45,K. Robinson,<NA>,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
163,29068,45,K. Smith,<NA>,interception,West Ham United,Brighton & Hove Albion,In Contest,1952,-1
164,29101,45,S. Cooke,<NA>,clearance,West Ham United,West Ham United,In Contest,1952,-1
165,29131,45,<NA>,<NA>,game_interruption,West Ham United,West Ham United,In Contest,1952,-1
166,29210,45,K. Robinson,P. Bremer,throw_in,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
219,31760,50,R. Shimizu,L. Evans,pass,West Ham United,West Ham United,In Contest,1952,-1
220,31795,50,E. Kullberg,<NA>,infraction,Brighton & Hove Albion,West Ham United,In Contest,1944,-1
221,32306,50,L. Evans,M. Thorisdottir,free_kick,West Ham United,West Ham United,West Ham United,1952,1952
222,32334,51,R. Ueki,<NA>,shot,West Ham United,West Ham United,West Ham United,1952,1952
223,32355,51,S. Baggaley,<NA>,shot_against,Brighton & Hove Albion,<NA>,West Ham United,1944,1952
224,32852,51,E. Terland,J. Olme,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
294,37217,59,A. Denton,H. Hayashi,pass,West Ham United,West Ham United,In Contest,1952,-1
295,37249,59,H. Hayashi,A. Denton,pass,West Ham United,West Ham United,West Ham United,1952,1952
296,37267,59,A. Denton,A. Stringer,pass,West Ham United,West Ham United,West Ham United,1952,1952
297,37339,59,<NA>,<NA>,game_interruption,West Ham United,West Ham United,In Contest,1952,-1
298,37528,59,S. Baggaley,M. Haley,goal_kick,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
299,37583,59,J. Olme,Vicky Losada,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
295,37249,59,H. Hayashi,A. Denton,pass,West Ham United,West Ham United,West Ham United,1952,1952
296,37267,59,A. Denton,A. Stringer,pass,West Ham United,West Ham United,West Ham United,1952,1952
297,37339,59,<NA>,<NA>,game_interruption,West Ham United,West Ham United,In Contest,1952,-1
298,37528,59,S. Baggaley,M. Haley,goal_kick,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
299,37583,59,J. Olme,Vicky Losada,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
300,37589,59,Vicky Losada,E. Kullberg,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
308,37768,60,P. Bremer,K. Robinson,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
309,37791,60,K. Robinson,Vicky Losada,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
310,37828,60,Vicky Losada,E. Kullberg,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
311,37869,60,E. Kullberg,C. Rule,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
312,37916,60,C. Rule,J. Olme,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
313,37939,60,J. Olme,Vicky Losada,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
311,37869,60,E. Kullberg,C. Rule,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
312,37916,60,C. Rule,J. Olme,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
313,37939,60,J. Olme,Vicky Losada,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
314,37949,60,Vicky Losada,J. Olme,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
315,37961,60,J. Olme,G. Bergsvand,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
316,37995,60,G. Bergsvand,M. Arnold,pass,Brighton & Hove Albion,Brighton & Hove Albion,In Contest,1944,-1

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
351,39386,62,R. Ueki,H. Hayashi,pass,West Ham United,West Ham United,West Ham United,1952,1952
352,39477,62,H. Hayashi,K. Smith,pass,West Ham United,West Ham United,West Ham United,1952,1952
353,39506,62,K. Smith,V. Asseyi,pass,West Ham United,West Ham United,West Ham United,1952,1952
354,39535,63,V. Asseyi,C. Rule,pass,West Ham United,West Ham United,In Contest,1952,-1
355,39556,63,C. Rule,<NA>,interception,Brighton & Hove Albion,Brighton & Hove Albion,In Contest,1944,-1
356,39641,63,E. Terland,E. Kullberg,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
352,39477,62,H. Hayashi,K. Smith,pass,West Ham United,West Ham United,West Ham United,1952,1952
353,39506,62,K. Smith,V. Asseyi,pass,West Ham United,West Ham United,West Ham United,1952,1952
354,39535,63,V. Asseyi,C. Rule,pass,West Ham United,West Ham United,In Contest,1952,-1
355,39556,63,C. Rule,<NA>,interception,Brighton & Hove Albion,Brighton & Hove Albion,In Contest,1944,-1
356,39641,63,E. Terland,E. Kullberg,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
357,39663,63,E. Kullberg,C. Rule,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
376,42525,68,Tatiana Pinto,K. Robinson,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
377,42575,68,A. Denton,H. Hayashi,pass,West Ham United,West Ham United,West Ham United,1952,1952
378,42594,68,H. Hayashi,V. Asseyi,pass,West Ham United,West Ham United,West Ham United,1952,1952
379,42650,68,V. Asseyi,C. Rule,pass,West Ham United,West Ham United,In Contest,1952,-1
380,42673,68,C. Rule,M. Symonds,pass,Brighton & Hove Albion,Brighton & Hove Albion,In Contest,1944,-1
381,42690,68,M. Symonds,E. Kullberg,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
400,43509,69,R. Ueki,H. Hayashi,pass,West Ham United,West Ham United,West Ham United,1952,1952
401,43530,69,H. Hayashi,L. Evans,pass,West Ham United,West Ham United,West Ham United,1952,1952
402,43675,69,E. Terland,<NA>,infraction,Brighton & Hove Albion,<NA>,In Contest,1944,-1
403,43863,70,R. Shimizu,A. Stringer,free_kick,West Ham United,West Ham United,West Ham United,1952,1952
404,43872,70,A. Stringer,R. Shimizu,pass,West Ham United,West Ham United,West Ham United,1952,1952
405,43914,70,R. Shimizu,R. Ueki,pass,West Ham United,West Ham United,West Ham United,1952,1952

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
476,47941,77,S. Cooke,E. Harries,pass,West Ham United,West Ham United,Brighton & Hove Albion,1952,1944
477,48002,77,E. Harries,R. Ueki,pass,West Ham United,West Ham United,West Ham United,1952,1952
478,48021,77,R. Ueki,<NA>,shot,West Ham United,West Ham United,West Ham United,1952,1952
479,48069,77,<NA>,<NA>,game_interruption,West Ham United,<NA>,In Contest,1952,-1
480,48980,78,S. Baggaley,H. Hayashi,goal_kick,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
481,49003,78,H. Hayashi,S. Cooke,pass,West Ham United,West Ham United,In Contest,1952,-1

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
520,52301,84,G. Bergsvand,K. Robinson,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
521,52387,84,<NA>,<NA>,game_interruption,West Ham United,<NA>,In Contest,1952,-1
522,52420,84,K. Robinson,G. Bergsvand,throw_in,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
523,52447,84,G. Bergsvand,J. Olme,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
524,52468,84,H. Hayashi,V. Asseyi,pass,West Ham United,West Ham United,West Ham United,1952,1952
525,52502,84,V. Asseyi,M. Filis,pass,West Ham United,West Ham United,West Ham United,1952,1952

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
537,53309,85,G. Bergsvand,K. Robinson,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
538,53319,86,K. Robinson,Tatiana Pinto,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
539,53327,86,Tatiana Pinto,K. Robinson,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
540,53374,86,K. Robinson,S. Cooke,pass,Brighton & Hove Albion,Brighton & Hove Albion,In Contest,1944,-1
541,53383,86,S. Cooke,<NA>,interception,West Ham United,West Ham United,In Contest,1952,-1
542,53434,86,I. Atkinson,H. Hayashi,pass,West Ham United,West Ham United,West Ham United,1952,1952

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
538,53319,86,K. Robinson,Tatiana Pinto,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
539,53327,86,Tatiana Pinto,K. Robinson,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
540,53374,86,K. Robinson,S. Cooke,pass,Brighton & Hove Albion,Brighton & Hove Albion,In Contest,1944,-1
541,53383,86,S. Cooke,<NA>,interception,West Ham United,West Ham United,In Contest,1952,-1
542,53434,86,I. Atkinson,H. Hayashi,pass,West Ham United,West Ham United,West Ham United,1952,1952
543,53479,86,H. Hayashi,S. Cooke,pass,West Ham United,West Ham United,West Ham United,1952,1952

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
539,53327,86,Tatiana Pinto,K. Robinson,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
540,53374,86,K. Robinson,S. Cooke,pass,Brighton & Hove Albion,Brighton & Hove Albion,In Contest,1944,-1
541,53383,86,S. Cooke,<NA>,interception,West Ham United,West Ham United,In Contest,1952,-1
542,53434,86,I. Atkinson,H. Hayashi,pass,West Ham United,West Ham United,West Ham United,1952,1952
543,53479,86,H. Hayashi,S. Cooke,pass,West Ham United,West Ham United,West Ham United,1952,1952
544,53488,86,S. Cooke,G. Bergsvand,pass,West Ham United,West Ham United,In Contest,1952,-1

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
594,56686,91,J. Olme,K. Robinson,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
595,56725,91,K. Robinson,Tatiana Pinto,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
596,56745,91,Tatiana Pinto,J. Olme,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
597,56767,91,J. Olme,M. Haley,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
598,56804,91,J. Olme,L. Evans,pass,Brighton & Hove Albion,Brighton & Hove Albion,In Contest,1944,-1
599,56825,91,L. Evans,J. Olme,pass,West Ham United,Brighton & Hove Albion,In Contest,1952,-1

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
605,56992,92,J. Olme,Tatiana Pinto,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
606,57019,92,Tatiana Pinto,J. Olme,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
607,57038,92,J. Olme,R. Shimizu,pass,Brighton & Hove Albion,Brighton & Hove Albion,In Contest,1944,-1
608,57054,92,R. Shimizu,<NA>,clearance,West Ham United,West Ham United,In Contest,1952,-1
609,57105,92,<NA>,<NA>,game_interruption,West Ham United,West Ham United,In Contest,1952,-1
610,57192,92,G. Bergsvand,J. Olme,throw_in,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
613,57331,92,L. Evans,M. Filis,pass,West Ham United,West Ham United,West Ham United,1952,1952
614,57359,92,M. Filis,L. Evans,pass,West Ham United,West Ham United,West Ham United,1952,1952
615,57373,92,L. Evans,C. Rule,pass,West Ham United,West Ham United,In Contest,1952,-1
616,57389,92,C. Rule,<NA>,interception,Brighton & Hove Albion,Brighton & Hove Albion,In Contest,1944,-1
617,57404,92,M. Thorisdottir,V. Sarri,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
618,57434,92,V. Sarri,Tatiana Pinto,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
614,57359,92,M. Filis,L. Evans,pass,West Ham United,West Ham United,West Ham United,1952,1952
615,57373,92,L. Evans,C. Rule,pass,West Ham United,West Ham United,In Contest,1952,-1
616,57389,92,C. Rule,<NA>,interception,Brighton & Hove Albion,Brighton & Hove Albion,In Contest,1944,-1
617,57404,92,M. Thorisdottir,V. Sarri,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
618,57434,92,V. Sarri,Tatiana Pinto,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
619,57473,92,Tatiana Pinto,M. Filis,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
631,58282,94,K. Robinson,Tatiana Pinto,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
632,58324,94,Tatiana Pinto,J. Olme,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
633,58344,94,J. Olme,<NA>,shot,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
634,58351,94,H. Hayashi,<NA>,interception,West Ham United,West Ham United,In Contest,1952,-1
635,58375,94,Tatiana Pinto,K. Robinson,pass,Brighton & Hove Albion,Brighton & Hove Albion,In Contest,1944,-1
636,58450,94,P. Ademiluyi,I. Atkinson,pass,West Ham United,West Ham United,West Ham United,1952,1952

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
635,58375,94,Tatiana Pinto,K. Robinson,pass,Brighton & Hove Albion,Brighton & Hove Albion,In Contest,1944,-1
636,58450,94,P. Ademiluyi,I. Atkinson,pass,West Ham United,West Ham United,West Ham United,1952,1952
637,58478,94,I. Atkinson,P. Ademiluyi,pass,West Ham United,West Ham United,West Ham United,1952,1952
638,58505,94,P. Ademiluyi,C. Rule,pass,West Ham United,West Ham United,In Contest,1952,-1
639,58523,94,C. Rule,H. Cissoko,pass,Brighton & Hove Albion,West Ham United,In Contest,1944,-1
640,58544,94,H. Cissoko,C. Rule,pass,West Ham United,West Ham United,In Contest,1952,-1

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
644,58664,94,G. Bergsvand,K. Robinson,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
645,58695,94,K. Robinson,I. Atkinson,pass,Brighton & Hove Albion,Brighton & Hove Albion,In Contest,1944,-1
646,58712,95,I. Atkinson,G. Bergsvand,interception,West Ham United,Brighton & Hove Albion,In Contest,1952,-1
647,58774,95,G. Bergsvand,S. Baggaley,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
648,58842,95,S. Baggaley,S. Cooke,pass,Brighton & Hove Albion,Brighton & Hove Albion,In Contest,1944,-1
649,58873,95,S. Cooke,M. Filis,pass,West Ham United,West Ham United,In Contest,1952,-1

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
655,59117,95,L. Evans,E. Harries,pass,West Ham United,West Ham United,West Ham United,1952,1952
656,59140,95,E. Harries,<NA>,acceleration,West Ham United,West Ham United,West Ham United,1952,1952
657,59180,95,E. Harries,V. Asseyi,pass,West Ham United,West Ham United,West Ham United,1952,1952
658,59254,95,C. Rule,L. Evans,pass,Brighton & Hove Albion,Brighton & Hove Albion,In Contest,1944,-1
659,59265,95,L. Evans,<NA>,interception,West Ham United,West Ham United,In Contest,1952,-1
660,59287,95,L. Evans,H. Cissoko,pass,West Ham United,West Ham United,West Ham United,1952,1952

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
662,59340,96,H. Hayashi,I. Atkinson,pass,West Ham United,West Ham United,West Ham United,1952,1952
663,59368,96,I. Atkinson,<NA>,acceleration,West Ham United,West Ham United,West Ham United,1952,1952
664,59397,96,I. Atkinson,P. Ademiluyi,pass,West Ham United,West Ham United,West Ham United,1952,1952
665,59461,96,P. Ademiluyi,E. Terland,pass,West Ham United,West Ham United,In Contest,1952,-1
666,59487,96,E. Terland,J. Olme,interception,Brighton & Hove Albion,West Ham United,In Contest,1944,-1
667,59495,96,J. Olme,R. Shimizu,pass,Brighton & Hove Albion,West Ham United,In Contest,1944,-1

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
669,59549,96,M. Filis,I. Atkinson,pass,West Ham United,West Ham United,West Ham United,1952,1952
670,59579,96,I. Atkinson,S. Cooke,pass,West Ham United,West Ham United,West Ham United,1952,1952
671,59605,96,S. Cooke,M. Filis,pass,West Ham United,West Ham United,West Ham United,1952,1952
672,59617,96,M. Filis,H. Cissoko,pass,West Ham United,West Ham United,West Ham United,1952,1952
673,59649,96,H. Cissoko,C. Rule,pass,West Ham United,West Ham United,In Contest,1952,-1
674,59689,96,C. Rule,M. Symonds,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
684,60242,97,M. Haley,K. Robinson,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
685,60304,97,K. Robinson,Tatiana Pinto,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
686,60325,97,Tatiana Pinto,K. Robinson,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
687,60350,97,K. Robinson,<NA>,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
688,60362,97,I. Atkinson,<NA>,interception,West Ham United,Brighton & Hove Albion,In Contest,1952,-1
689,60386,97,<NA>,<NA>,game_interruption,West Ham United,<NA>,In Contest,1952,-1

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
710,242,0,Lee Geum-Min,P. Pattinson,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
711,262,0,P. Pattinson,M. Arnold,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
712,290,0,M. Arnold,<NA>,goalkeeper_exit,West Ham United,Brighton & Hove Albion,Brighton & Hove Albion,1952,1944
713,372,0,M. Arnold,H. Cissoko,pass,West Ham United,West Ham United,West Ham United,1952,1952
714,419,0,H. Cissoko,M. Arnold,pass,West Ham United,West Ham United,West Ham United,1952,1952
715,472,0,M. Arnold,R. Ueki,pass,West Ham United,West Ham United,West Ham United,1952,1952

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
717,565,0,A. Denton,L. Evans,pass,West Ham United,West Ham United,West Ham United,1952,1952
718,595,0,L. Evans,K. Smith,pass,West Ham United,West Ham United,In Contest,1952,-1
719,614,0,G. Bergsvand,<NA>,interception,Brighton & Hove Albion,West Ham United,In Contest,1944,-1
720,622,0,K. Smith,<NA>,shot,West Ham United,West Ham United,West Ham United,1952,1952
721,654,0,<NA>,<NA>,game_interruption,Brighton & Hove Albion,<NA>,In Contest,1944,-1
722,795,1,S. Baggaley,M. Thorisdottir,goal_kick,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
761,2593,4,H. Hayashi,L. Evans,pass,West Ham United,West Ham United,West Ham United,1952,1952
762,2603,4,L. Evans,A. Denton,pass,West Ham United,West Ham United,West Ham United,1952,1952
763,2621,4,A. Denton,R. Shimizu,pass,West Ham United,West Ham United,West Ham United,1952,1952
764,2664,4,R. Shimizu,H. Hayashi,pass,West Ham United,West Ham United,West Ham United,1952,1952
765,2679,4,H. Hayashi,A. Denton,pass,West Ham United,West Ham United,West Ham United,1952,1952
766,2688,4,A. Denton,L. Evans,pass,West Ham United,West Ham United,West Ham United,1952,1952

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
814,4866,7,V. Asseyi,H. Hayashi,pass,West Ham United,West Ham United,West Ham United,1952,1952
815,4885,7,H. Hayashi,V. Asseyi,pass,West Ham United,West Ham United,West Ham United,1952,1952
816,4903,8,V. Asseyi,H. Cissoko,pass,West Ham United,West Ham United,West Ham United,1952,1952
817,4950,8,H. Cissoko,S. Cooke,pass,West Ham United,West Ham United,West Ham United,1952,1952
818,4977,8,S. Cooke,H. Hayashi,pass,West Ham United,West Ham United,West Ham United,1952,1952
819,5023,8,H. Hayashi,S. Cooke,pass,West Ham United,West Ham United,West Ham United,1952,1952

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
815,4885,7,H. Hayashi,V. Asseyi,pass,West Ham United,West Ham United,West Ham United,1952,1952
816,4903,8,V. Asseyi,H. Cissoko,pass,West Ham United,West Ham United,West Ham United,1952,1952
817,4950,8,H. Cissoko,S. Cooke,pass,West Ham United,West Ham United,West Ham United,1952,1952
818,4977,8,S. Cooke,H. Hayashi,pass,West Ham United,West Ham United,West Ham United,1952,1952
819,5023,8,H. Hayashi,S. Cooke,pass,West Ham United,West Ham United,West Ham United,1952,1952
820,5032,8,S. Cooke,J. Olme,pass,West Ham United,West Ham United,West Ham United,1952,1952

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
867,6521,10,H. Hayashi,K. Smith,pass,West Ham United,West Ham United,West Ham United,1952,1952
868,6564,10,K. Smith,G. Bergsvand,pass,West Ham United,West Ham United,In Contest,1952,-1
869,6586,10,G. Bergsvand,<NA>,interception,Brighton & Hove Albion,Brighton & Hove Albion,In Contest,1944,-1
870,6627,10,<NA>,<NA>,game_interruption,Brighton & Hove Albion,Brighton & Hove Albion,In Contest,1944,-1
871,6659,10,S. Cooke,K. Robinson,throw_in,West Ham United,West Ham United,West Ham United,1952,1952
872,6676,10,K. Robinson,J. Olme,interception,Brighton & Hove Albion,West Ham United,In Contest,1944,-1

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
873,6690,10,H. Hayashi,K. Smith,pass,West Ham United,West Ham United,In Contest,1952,-1
874,6748,11,J. Olme,E. Terland,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
875,6770,11,E. Terland,Vicky Losada,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
876,6784,11,Vicky Losada,G. Bergsvand,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
877,6835,11,G. Bergsvand,P. Bremer,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
878,6879,11,H. Hayashi,L. Evans,pass,West Ham United,West Ham United,West Ham United,1952,1952

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
912,8656,14,R. Ueki,V. Asseyi,pass,West Ham United,West Ham United,West Ham United,1952,1952
913,8688,14,V. Asseyi,<NA>,pass,West Ham United,West Ham United,West Ham United,1952,1952
914,8730,14,<NA>,<NA>,game_interruption,Brighton & Hove Albion,West Ham United,In Contest,1944,-1
915,8942,14,S. Baggaley,P. Bremer,goal_kick,Brighton & Hove Albion,<NA>,Brighton & Hove Albion,1944,1944
916,8987,14,H. Hayashi,A. Denton,pass,West Ham United,West Ham United,West Ham United,1952,1952
917,9023,14,A. Denton,R. Shimizu,pass,West Ham United,West Ham United,West Ham United,1952,1952

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
941,10003,16,P. Bremer,Lee Geum-Min,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
942,10031,16,Lee Geum-Min,E. Kullberg,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
943,10048,16,E. Kullberg,<NA>,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
944,10062,16,L. Evans,<NA>,interception,West Ham United,Brighton & Hove Albion,In Contest,1952,-1
945,10106,16,<NA>,<NA>,game_interruption,Brighton & Hove Albion,<NA>,In Contest,1944,-1
946,10447,17,Vicky Losada,E. Terland,corner,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
942,10031,16,Lee Geum-Min,E. Kullberg,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
943,10048,16,E. Kullberg,<NA>,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
944,10062,16,L. Evans,<NA>,interception,West Ham United,Brighton & Hove Albion,In Contest,1952,-1
945,10106,16,<NA>,<NA>,game_interruption,Brighton & Hove Albion,<NA>,In Contest,1944,-1
946,10447,17,Vicky Losada,E. Terland,corner,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
947,10469,17,E. Terland,<NA>,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
951,10768,17,K. Robinson,J. Olme,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
952,10793,17,J. Olme,Vicky Losada,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
953,10809,17,Vicky Losada,J. Olme,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
954,10873,17,A. Stringer,V. Asseyi,pass,West Ham United,West Ham United,West Ham United,1952,1952
955,10918,18,K. Smith,L. Evans,pass,West Ham United,West Ham United,West Ham United,1952,1952
956,10945,18,L. Evans,R. Ueki,pass,West Ham United,West Ham United,West Ham United,1952,1952

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
960,11308,18,A. Denton,L. Evans,pass,West Ham United,West Ham United,West Ham United,1952,1952
961,11314,18,L. Evans,E. Kullberg,pass,West Ham United,West Ham United,West Ham United,1952,1952
962,11392,18,E. Kullberg,P. Bremer,pass,Brighton & Hove Albion,Brighton & Hove Albion,West Ham United,1944,1952
963,11456,18,Lee Geum-Min,K. Robinson,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
964,11495,18,K. Robinson,<NA>,acceleration,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
965,11574,19,V. Asseyi,<NA>,clearance,West Ham United,West Ham United,In Contest,1952,-1

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
968,11684,19,E. Terland,K. Robinson,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
969,11732,19,K. Robinson,E. Terland,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
970,11749,19,E. Terland,<NA>,shot,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
971,11762,19,M. Arnold,<NA>,shot_against,West Ham United,<NA>,Brighton & Hove Albion,1952,1944
972,11833,19,<NA>,<NA>,game_interruption,Brighton & Hove Albion,<NA>,In Contest,1944,-1
973,12073,19,Vicky Losada,M. Arnold,corner,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
969,11732,19,K. Robinson,E. Terland,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
970,11749,19,E. Terland,<NA>,shot,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
971,11762,19,M. Arnold,<NA>,shot_against,West Ham United,<NA>,Brighton & Hove Albion,1952,1944
972,11833,19,<NA>,<NA>,game_interruption,Brighton & Hove Albion,<NA>,In Contest,1944,-1
973,12073,19,Vicky Losada,M. Arnold,corner,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
974,12097,19,M. Arnold,<NA>,goalkeeper_exit,West Ham United,Brighton & Hove Albion,Brighton & Hove Albion,1952,1944

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
1003,13803,22,Vicky Losada,Lee Geum-Min,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
1004,13832,22,Lee Geum-Min,E. Terland,pass,Brighton & Hove Albion,Brighton & Hove Albion,Brighton & Hove Albion,1944,1944
1005,13896,22,P. Bremer,<NA>,infraction,Brighton & Hove Albion,<NA>,In Contest,1944,-1
1006,14148,23,M. Arnold,L. Evans,free_kick,West Ham United,West Ham United,West Ham United,1952,1952
1007,14209,23,M. Thorisdottir,<NA>,infraction,Brighton & Hove Albion,West Ham United,In Contest,1944,-1
1008,14280,23,R. Ueki,<NA>,infraction,West Ham United,<NA>,In Contest,1952,-1

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
1022,15592,25,R. Shimizu,L. Evans,pass,West Ham United,West Ham United,In Contest,1952,-1
1023,15623,25,L. Evans,A. Denton,pass,West Ham United,West Ham United,West Ham United,1952,1952
1024,15640,25,A. Denton,R. Shimizu,pass,West Ham United,West Ham United,West Ham United,1952,1952
1025,15664,25,R. Shimizu,A. Stringer,pass,West Ham United,West Ham United,West Ham United,1952,1952
1026,15689,25,A. Stringer,S. Cooke,pass,West Ham United,West Ham United,West Ham United,1952,1952
1027,15709,26,S. Cooke,H. Cissoko,pass,West Ham United,West Ham United,West Ham United,1952,1952

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
1035,15906,26,H. Hayashi,A. Denton,pass,West Ham United,West Ham United,West Ham United,1952,1952
1036,15936,26,A. Denton,L. Evans,pass,West Ham United,West Ham United,West Ham United,1952,1952
1037,15952,26,L. Evans,A. Denton,pass,West Ham United,West Ham United,West Ham United,1952,1952
1038,15970,26,A. Denton,K. Smith,pass,West Ham United,West Ham United,West Ham United,1952,1952
1039,16032,26,K. Smith,K. Robinson,pass,West Ham United,West Ham United,In Contest,1952,-1
1040,16034,26,K. Robinson,<NA>,interception,Brighton & Hove Albion,West Ham United,In Contest,1944,-1

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
1036,15936,26,A. Denton,L. Evans,pass,West Ham United,West Ham United,West Ham United,1952,1952
1037,15952,26,L. Evans,A. Denton,pass,West Ham United,West Ham United,West Ham United,1952,1952
1038,15970,26,A. Denton,K. Smith,pass,West Ham United,West Ham United,West Ham United,1952,1952
1039,16032,26,K. Smith,K. Robinson,pass,West Ham United,West Ham United,In Contest,1952,-1
1040,16034,26,K. Robinson,<NA>,interception,Brighton & Hove Albion,West Ham United,In Contest,1944,-1
1041,16073,26,<NA>,<NA>,game_interruption,Brighton & Hove Albion,<NA>,In Contest,1944,-1

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
1037,15952,26,L. Evans,A. Denton,pass,West Ham United,West Ham United,West Ham United,1952,1952
1038,15970,26,A. Denton,K. Smith,pass,West Ham United,West Ham United,West Ham United,1952,1952
1039,16032,26,K. Smith,K. Robinson,pass,West Ham United,West Ham United,In Contest,1952,-1
1040,16034,26,K. Robinson,<NA>,interception,Brighton & Hove Albion,West Ham United,In Contest,1944,-1
1041,16073,26,<NA>,<NA>,game_interruption,Brighton & Hove Albion,<NA>,In Contest,1944,-1
1042,16091,26,K. Smith,V. Asseyi,throw_in,West Ham United,West Ham United,West Ham United,1952,1952

,frame,minute,player_name,pass_recipient_name,type_primary,team_name,possession_team_name,possession_team_name_src,wy_team_id,possession_team_id_src
1038,15970,26,A. Denton,K. Smith,pass,West Ham United,West Ham United,West Ham United,1952,1952
1039,16032,26,K. Smith,K. Robinson,pass,West Ham United,West Ham United,In Contest,1952,-1
1040,16034,26,K. Robinson,<NA>,interception,Brighton & Hove Albion,West Ham United,In Contest,1944,-1
1041,16073,26,<NA>,<NA>,game_interruption,Brighton & Hove Albion,<NA>,In Contest,1944,-1
1042,16091,26,K. Smith,V. Asseyi,throw_in,West Ham United,West Ham United,West Ham United,1952,1952
1043,16135,26,V. Asseyi,P. Pattinson,pass,West Ham United,West Ham United,In Contest,1952,-1